* {
  padding: 0;
  margin: 0;
}
.item {
  list-style: none;
  width: 100px;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
